<%- include("../partial/header") -%>
  
  <div class="container">
  <div class="jumbotron" style="margin-top:20px">
  <h1 class="display-4">Welcome to Indiacamp.</h1>
  <p class="lead">Hand-picked campgrounds.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="campgrounds/new" role="button">Add new campground</a>
  </div>
  
<!--  <div class="row text-center">
    <% camps.forEach(function(camping){   %>
    <div clas="col-fluid">
      <div class="img-thumbnail">
      <img src="<%= camping.image %>">     
        
      <figcaption class="figure-caption"><strong><%= camping.title %></strong></figcaption>
      <p>
      <a href="/campgrounds/<%= camping._id%>" class="btn btn-primary btn-sm">more info</a>
    </p>
        </div> 
    </div>
    
    <%  }); %>
  </div> -->



<div class="row text-center">
    <% camps.forEach(function(camping){   %>
  <div class="col-md-4 col-sm-6">    
   
    <div class="card h-100">
      <img src="<%= camping.image %>" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title"><%= camping.title %></h5>      
        <a href="<%= camping._id%>" class="btn btn-primary">More Info</a>
      </div>
    </div>
  
  </div>
   <%  }); %>
</div>
    
    <%- include("../partial/footer") -%>   
</div>
