<%- include ("../partial/header") -%>

  <div class="container">
    <div class="row">       
      <div class="col-md-3">
        <div class="card">
          <div class="card-header"><strong>Indiacamp</strong></div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div> 
      </div>
      
      <div class="card col-md-8">       
      <img src="<%=campground.image%>" class="card-img-top" alt="flower valley image">
        <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text">
          <p>9.00/night</p>
          <p><em>Submitted By: <%= campground.author.username %></em></p>
          <!-- em tag is for italics-->
        <%= campground.description %>
        </p>
        <!-- now v checking agr logged in user is same as jisne campground banya hai
            , if not same then dont show edit and delete buttons
                    currentUser aa ra hai, humne server.js mein upar likha tha.
         abb currrent user can be undefined or empty so uska check && se phla lga diya   --> 
     <%   if(currentUser && campground.author.id.equals(currentUser._id)){  %>
         <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit Campground</a>
        <!-- edit mein sirf href bhejna tha , no data waas going so <a> se chal gya, bt in delete v have to send data
              to delete from db -->
        <form id="delform" method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
          <!--form is needed coz form mein method hai, sirk link se nahi hoga coz link has only href and not method -->
          <button class="btn btn-sm btn-danger">Delete Campground</button>
        </form>
 <%       }  %>
        </div>
      </div>      
     </div>
<div class="row">        
<div class="float-right card col-md-8" id="abc">
  <h5 class="card-header text-right">
  <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary">Add Comment</a>
  </h5>
  <div class="card-body">
    <% campground.comments.forEach(function(comment){  %>   
    <!--as comments ke ander wale mein 2 things ha author n text upe loop krna hai.-->
    <h5><%= comment.author.username %> <small class="text-muted">10 days ago</small> </h5> 
    <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit Comment</a>
    <form id="delform" method="POST" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" action="POST">
          <button class="btn btn-sm btn-danger">Delete Comment</button>
    </form>
    <p class="card-text"><%= comment.text %></p>  
    <hr class="my-4">
    <%   })    %>
  </div>
</div>  
</div>

<%- include ("../partial/footer") -%>
</div>